<!-- Breadcrumbs-->
<div id="breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</div>
  <!--
  {% if user.first_name %}
    <li class="breadcrumb-item active">{{ user.first_name|title }}'s Profile</li>
    {% elif user.username %}
    <li class="breadcrumb-item active">{{ user.username|title }}'s Profile</li>
    {% else %}
  {% endif %}
  -->
