{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  /* config.css */

  :root {
    --baseColor: #606468 !important;
  }

  /* helpers/align.css */

  .align {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    place-items: center;
  }

  .grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
  }

  /* helpers/hidden.css */

  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* helpers/icon.css */

  :root {
    --iconFill: var(--baseColor) !important;
  }

  .icons {
    display: none;
  }

  .icon {
    height: 1em;
    display: inline-block;
    fill: #606468;
    fill: var(--iconFill);
    width: 1em;
    vertical-align: middle;
  }

  /* layout/base.css */

  :root {
    --htmlFontSize: 100%;

    --bodyBackgroundColor: #2c3338;
    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
  }

  * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100% !important;
    font-size: var(--htmlFontSize) !important;
  }

  a {
    color: #eee !important;
    color: var(--anchorColor) !important;
    outline: 0 !important;
    text-decoration: none !important;
  }

  a:focus,
  a:hover {
    text-decoration: underline !important;
  }

  /* modules/form.css */

  :root {
    --formGap: 0.875rem;
  }

  input {
    background-image: none !important;
    border: 0 !important;
    color: inherit !important;
    font: inherit !important;
    margin: 0 !important;
    outline: 0 !important;
    padding: 0 !important;
    -webkit-transition: background-color 0.3s !important;
    -o-transition: background-color 0.3s !important;
    transition: background-color 0.3s !important;
  }

  input[type="submit"] {
    cursor: pointer !important;
  }

  .form {
    display: grid !important;
    grid-gap: 0.875rem !important;
    gap: 0.875rem !important;
    grid-gap: var(--formGap) !important;
    gap: var(--formGap) !important;
  }

  .form input[type="password"],
  .form input[type="text"],
  .form input[type="submit"] {
    width: 100% !important;
  }

  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  /* modules/login.css */

  :root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;

    --loginInputBackgroundColor: #3b4148;
    --loginInputHoverBackgroundColor: #434a52;

    --loginLabelBackgroundColor: #363b41;

    --loginSubmitBackgroundColor: #ea4c88;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #d44179;
  }

  .login {
    color: #eee !important;
    color: var(--loginColor) !important;
  }

  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="submit"] {
    border-radius: 0.25rem !important;
    border-radius: var(--loginBorderRadus) !important;
    padding: 1rem !important;
  }

  .login label {
    background-color: #363b41 !important;
    background-color: var(--loginLabelBackgroundColor) !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  .login input[type="password"],
  .login input[type="text"] {
    background-color: #3b4148  !important;
    background-color: var(--loginInputBackgroundColor)  !important;
    border-bottom-left-radius: 0  !important;
    border-top-left-radius: 0  !important;
  }

  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: #434a52 !important;
    background-color: var(--loginInputHoverBackgroundColor) !important;
  }

  .login input[type="submit"] {
    background-color: #ea4c88  !important;
    background-color: var(--loginSubmitBackgroundColor)  !important;
    color: #eee  !important;
    color: var(--loginSubmitColor)  !important;
    font-weight: 700  !important;
    text-transform: uppercase  !important;
  }

  .login input[type="submit"]:focus,
  .login input[type="submit"]:hover {
    background-color: #d44179 !important;
    background-color: var(--loginSubmitHoverBackgroundColor) !important;
  }

  /* modules/text.css */

  p {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .text--center {
    text-align: center !important;
  }

</style>

  <div class="form login">
    <form method="POST">
        {% csrf_token %}
          <div class="form__field">
            <label for="login__username"><svg class="icon">
                <use xlink:href="#icon-user"></use>
              </svg><span class="hidden">Username</span></label>
            <input autocomplete="username" id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
          </div>


          <div class="form__field">
            <label for="login__password"><svg class="icon">
                <use xlink:href="#icon-lock"></use>
              </svg><span class="hidden">Password</span></label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
          </div>

          <div class="form__field">
           <input type="submit" value="Sign In">
         </div>
      </form>

      <p class="text--center">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </p>
      <p class="text--center">Not a member?
        <a href="{% url 'register' %}">Sign up now
          <svg class="icon">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </p>
    </div>

<svg xmlns="http://www.w3.org/2000/svg" class="icons">
  <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
    <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
  </symbol>
  <symbol id="icon-lock" viewBox="0 0 1792 1792">
    <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
  </symbol>
  <symbol id="icon-user" viewBox="0 0 1792 1792">
    <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
  </symbol>
</svg>

{% endblock content %}


<!--

body {
  background-color: #2c3338;
  background-color: var(--bodyBackgroundColor);
  color: #606468;
  color: var(--bodyColor);
  font-family: "Open Sans", sans-serif;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: 0.875rem;
  font-size: var(--bodyFontSize);
  font-weight: 400;
  font-weight: var(--bodyFontWeight);
  line-height: 1.5;
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

:root {
  --anchorColor: #eee;
}

  <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Log In
        </legend>
        {{ form|crispy }}
  </fieldset>

  <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Login</button>
    <small class='text-muted ml-2'>
      <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </small>
    </div>

    -->
